name: CI Test with Docker

on:
  push:
    branches:
      - run

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du dépôt
        uses: actions/checkout@v3

      - name: Build de l'image Docker
        run: docker build -t mon-site-ci .

      - name: Lancer le conteneur pour test
        run: docker run -d -p 8080:80 --name test-container mon-site-ci

      - name: Vérifier que le conteneur tourne
        run: docker ps

      - name: Test simple
        run: echo "CI + Docker exécuté avec succès !"
